body {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 100%;
  width: 100%;
}

.side-bar {
  padding: 10px;
  height: 47rem;
  width: 23%;
  background: #FAFAFA;
  box-shadow: 0px 4px 10px #F4F4F4;
}

.logoGeopark {
  height: 12%;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  background: #ECECEC;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.02);
}

.logoGeopark image {
  position: fixed;
  width: 70px;
  height: 70px;
  margin-top: 11px;
  margin-bottom: 11px;
  margin-left: 54px;
  margin-right: 54px;
}

.linkList {
  padding: 1rem;
  
}

li .sair{
  margin-bottom: 0px;
}

.section li {
  margin-left: 2rem;
  text-decoration: none;
  margin-bottom: .5rem;
}

.section h2 {
  margin-bottom: .5rem;
}